.home-container {
  position: relative;
  padding: 2rem;
  min-height: 100vh;
  color: black;
  text-emphasis-color: black;
  background-image: url('../../public/home3.jpg'); /* image from public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

